<div class="rounded shadow bg-white p-5">
    <div class="row">
        <div class="col-12 d-flex">
            <h2 class="font-weight-light"><i class="fas fa-home"></i> Biens immobiliers</h2>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#propertiesFormModal"
                (click)="resetForm()"><i class="fas fa-plus"></i> Ajouter un bien</button>
        </div>
    </div>
    <hr class="mt-1 mb-5 bg-dark">
    <div class="row">
        <div *ngFor="let property of properties; let i = index" class="col-12 shadow-sm p-4 mb-3 bg-light">
            <div class="row">
                <div class="col-3">
                    <img *ngIf="property.photo && property.photo !== ''" [src]="property.photo" class="w-100">
                </div>
                <div class="col-9">
                    <div class="d-flex">
                        <h3 class="font-weight-normal">{{property.title}}</h3>
                        <div class="ml-auto">
                            <button class="btn btn-primary m-1"><i class="fas fa-edit" type="button"
                                    (click)="onEditProperty(property)"></i></button>
                            <button class="btn btn-danger m-1"><i class="fas fa-trash-alt" type="button"
                                    (click)="onDeleteProperty(i)"></i></button>
                        </div>
                    </div>
                    <p>
                        {{ property.category }}
                        <span *ngIf="property.surface && property.surface !== ''"> de {{ property.surface }} m2
                        </span>
                        <span *ngIf="property.rooms && property.rooms !== ''"> avec {{property.rooms}} pièces.
                        </span>
                    </p>
                    <p>
                        <span *ngIf="property.price && property.price !== ''"> {{ property.price }} €</span>
                    </p>
                    <p>
                        <span *ngIf="property.sold" class="text-danger">Vendu !</span>
                        <span *ngIf="!property.sold" class="text-success">A vendre </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="propertiesFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form [formGroup]="propertiesForm" (ngSubmit)="onSubmitPropertiesForm()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Edition d'un bien</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" placeholder="Titre" class="form-control" formControlName="title">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Catégorie</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" formControlName="category">
                            <option value="Appartement">Appartement</option>
                            <option value="Maison">Maison</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <input type="text" class="form-control" placeholder="Surface (m2)"
                                formControlName="surface">
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" placeholder="Nombre de pièces"
                                formControlName="rooms">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control w-100" rows="4" placeholder="Description"
                            formControlName="description" ngModel></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Prix" formControlName="price">
                    </div>

                    <!-- Upload File : -->
                    <div *ngIf="photoUrl && photoUrl !== ''" class="d-flex mb-3">
                        <img [src]="photoUrl" class="w-50 mx-auto">
                    </div>
                    <div class="form-row">
                        <div class="col-9">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01" (change)="onUploadFile($event)">
                                    <label class="custom-file-label" for="inputGroupFile01">Envoyer une image</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="spinner-border text-primary" role="status" *ngIf="photoUploading">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="sold">
                        <label class="custom-control-label" for="customSwitch1">
                            <span class="text-success" *ngIf="propertiesForm.value.sold"> Vendu </span>
                            <span class="text-danger" *ngIf="!propertiesForm.value.sold"> A vendre </span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary"
                        [disabled]="propertiesForm.invalid">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- DELETE PROPERTY MODAL -->
<div class="modal fade" id="deletePropertyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Supprimer ce bien ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="onConfirmDeleteProperty()">Supprimer</button>
            </div>
        </div>
    </div>
</div>