<div class="container py-5">
    <h1 class="display-4">Nos biens immobilier</h1>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let property of properties; let i = index">
            <div class="card h-100" style="width: 18rem;">
                <div *ngFor="let photo of property.photos; let first = first">
                    <img [src]="photo" class="card-img-top" *ngIf="first">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ property.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ property.category }}</h6>
                    <p>
                        {{ property.category }}
                        <span *ngIf="property.surface && property.surface !== ''"> de {{ property.surface }} m2
                        </span>
                        <span *ngIf="property.rooms && property.rooms !== ''"> avec {{property.rooms}} pièces.
                        </span>
                    </p>
                    <p>
                        {{property.price}}€
                    </p>
                    <p [ngStyle]="{color: getSoldValue(property)}">
                        <span *ngIf="!property.sold"> A vendre </span>
                        <span *ngIf="property.sold"> Vendu...</span>
                    </p>
                    <div class="text-center">
                        <button class="btn btn-primary" type="button" (click)="onGoToSingleProperty(index)">Voir ce bien
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>